<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icoi"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icoi"
        android:supportsRtl="true"
        android:theme="@style/Theme.TCCHortela"
        tools:targetApi="31" >

        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Cadastro" >
        </activity>
        <activity android:name=".CalendarioVol" />
        <activity android:name=".DoacaoPix" />
        <activity android:name=".FaleConosco" />
        <activity android:name=".InformacoesP" />
        <activity android:name=".InscricaoBen" />
        <activity android:name=".InscricaoVol" />
        <activity android:name=".Perfil" />
        <activity android:name=".RedefinirSenha" />
        <activity android:name=".RedefinirSenhaCodigo" />
        <activity android:name=".TelaPrincipal" />
        <activity android:name=".SolicitarCesta" />
        <activity android:name=".TelaPrincipalCarente" />
        <activity android:name=".TelaPrincipalVol" />
        <activity android:name=".ConsultarCesta" />
    </application>

</manifest>